/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode


*

!/app/Http/Controllers/ArticleController.php
!/app/Http/Controllers/VoteController.php
!/app/Http/Models/ArticleController.php
!/database/migrations/2022_06_15_063714_create_article_table.php
!/routes/web.php
!/database/factories/ArticleFactory.php
!/resources/views
